<!doctype html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ICT</title>
    <style type="text/css">
      .container{
        margin-top: 100px;
      }
      .logo-top{
        border-top: 4px solid #dee2e633;
        padding-top: 20px;
      }
      .row img{
        width: 141px;
      }
      .tabletop table{
        border-color: #fff;
      }
      .tablemiddle table{
        background-color: #e9ecef70;
        margin-bottom: 0px;
      }
      .tablemiddle table th{
        padding: 25px;
      }
      .tablemiddle table td{
        padding: 25px;
      }
      .tablebottom table th{
        background-color: #dee2f0;
        padding: 5px 10px 17px 25px;
      }
      .tablebottom table td{
        padding: 20px;
      }
      .righttext{
        text-align: right;
      }
      h6{
        font-size: 13px;
      }
      .total-details{
        margin-top: 150px;
        margin-bottom: 150px;
        text-align: right;
      }
      .total-details ul{
        list-style-type: none;
      }
      .total-details h2{
        font-size: 20px;
      }
      tbody {
        line-height: 12px;
      }

      @media (max-width: 767px){
        .tablemiddle table td {
          padding: 0px 5px 0px 5px;
        }
        .tablemiddle table th {
          padding: 20px 5px 20px 5px;
        }
        .tablebottom table th {
          background-color: #dee2f0;
          padding: 0px 5px 0px 5px;
        }
        .tablebottom table td {
          padding: 0px 5px 0px 5px;
        }
        body p{
          font-size: 13px;
        }
        td{
          font-size: 13px;
        }
        th{
          font-size: 14px;
        }
        ul{
          font-size: 14px;
        }
        .total-details h2 {
          font-size: 14px;
        }
        th.description {
          padding-bottom: 38px!important;
        }
      }

    </style>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="logo-top">
          <div class="row">
            <img src="/img/logo.png">
          </div>
        </div>
        <br><br>
        <div class="row">
          <h4>SHIPMENT PACKING LIST</h4>
          <p>Your VAT invoices wil be emailed to you nad are always availabe on your noon account.</p>
        </div>
        <hr>
        <% if (report.length> 0) { %> <% report.forEach(report=> {%>
        <div class="tabletop">
          <table class="table" class="table-responsive">
            <thead>
              <tr>
                <th scope="col">Shipment Manifest</th>
                <th scope="col">Buyer</th>
                <th scope="col">Payment Method</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Invoice Nr : <%= report.productInvoice %> </td>
                <td>   <%= report.user.firstName %> <%= report.user.lastName %></td>
                <td>Cash On Delivery</td>
              </tr>
              <tr>
                <td>Purchase Date : 2022-05-23</td>
                <td>Lie Sohlarium room no 511 Le Solarium Tower-Dubai Silicon Oasis</td>
              </tr>
              <tr>
                <td>Order Nr :<%= report.buyproducts.orderId %></td>
                <td>Dubai, United Arab Emirates</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tablemiddle">
          <table class="table" class="table-responsive">
            <thead>
              <tr>
                <th scope="col">Sold By</th>
                <th scope="col">TRN</th>
                <th scope="col">Invoice Nr</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>JABAL ARAFA ELECTRONICS TRADING L.L.C</td>
                <td>AE 100218782900003</td>
                <td><%= report.buyproducts.invoiceNumber %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tablebottom">
          <table class="table" class="table-responsive">
            <thead>
              <tr>
                <th class="description" scope="col">Description</th>
                <!-- <th class="righttext" scope="col">Price excl VAT<br><h6>(AED)</h6></th>
                <th class="righttext" scope="col">VAT Rate</th>
                <th class="righttext" scope="col">VAT Amount<br><h6>(AED)</h6></th>
                <th class="righttext" scope="col">Price incl VAT<br><h6>(AED)</h6></th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= report.products.title %></td>
                <!-- <td class="righttext">612.38</td>
                <td class="righttext">5.00%</td>
                <td class="righttext">30.62</td>
                <td class="righttext">643.00</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="total-details">
         <div class="row">
          <h2>AED</h2>
          <div class="col-md-6"></div>
          <div class="col-md-6">
           <div class="row">
             <div class="col-md-6 col-6">
               <div class="listing">
                 <ul>
                   <!-- <li>Shipment Subtotal</li>
                   <li>VAT</li>
                   <li>noon credits</li> -->
                   <li><b> Original Price</b></li>
                   <li><b>Offer Price</b></li>
                   <li><b>Total Price</b></li>
                 </ul>
               </div>
             </div>
             <div class="col-md-6 col-6">
               <div class="listingnumber">
                 <ul>
                  <!-- <li>621.90</li>
                    <li>-0.00</li> -->
                    <li><%= report.products.originalPrice %></li>
                    <li><b><%= report.products.sellingPrice %></b></li>
                  <li><b><%= report.products.sellingPrice %></b></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
       
      <% });%>
      <% }%>
    </div>
  </div>
</section>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>